<header class="navbar bg-white text-base-content border-b border-gray-100 px-4 lg:px-8 sticky top-0 z-50">
  <div class="navbar-start">
    <a href="index.html" class="btn btn-ghost p-1 flex items-center">
      <img src="media/logo.png" alt="Mala Zone Logo" class="h-10 w-auto object-contain" />
    </a>
  </div>

  <!-- MENU DESKTOP -->
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 font-medium gap-2">
      <li><a href="chi-siamo.html">Chi siamo</a></li>
      <li><a href="eventi.html">Eventi</a></li>
      <li><a href="index.html#contatti">Contatti</a></li>
    </ul>
  </div>

  <!-- DESTRA: PULSANTE DESKTOP + HAMBURGER MOBILE -->
  <div class="navbar-end">
    <a href="index.html#contatti" class="btn btn-primary btn-sm hidden lg:inline-flex">Diventa socio</a>

    <div class="dropdown dropdown-end lg:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-3 shadow-lg bg-white rounded-box w-56 gap-2">
        <li><a href="chi-siamo.html">Chi siamo</a></li>
        <li><a href="eventi.html">Eventi</a></li>
        <li><a href="index.html#contatti">Contatti</a></li>
        <div class="divider my-1"></div>
        <li><a href="index.html#contatti" class="btn btn-primary btn-sm text-white">Diventa socio</a></li>
      </ul>
    </div>
  </div>
</header>